.input_holder {
  text-align: center;
  width: 30%;
}
.todolist_holder {
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.button-container button {
  background: none;
  border: 0px;
  font-size: 100%;
  appearance: none;
}
.button-container {
  width: 30%;
}
